<section id="contact">
  <div class="container mx-auto py-5 text-center ">
    <div class="text-2xl p-5">Get In Touch</div>
      <div class="max-w-md mx-auto py-3 justify-center ">
        <div class="text-center">{{ .Site.Params.contact_content | emojify | markdownify }}</div>
        {{ if .Site.Params.email }}
        <div class="text-center pt-3">
          <a href="mailto:{{ .Site.Params.email }}?subject=Say hi!" class="border-primary border-b-2 hover:text-light hover:border-primary-100">
            {{ .Site.Params.getintouch | default "Get in Touch" }}
          </a>
        </div>
        {{ end }}
      </div>
        <div class="pt-4">
          <div class="col-md-12">
            {{ if .Site.Params.github }}
            <a href="{{ .Site.Params.github }}">
              <span class="fa-stack fa-lg text-blue-500 hover:text-blue-700">
                <i class="fa fa-circle-thin fa-stack-2x"></i>
                <i class="fa fa-github fa-stack-1x"></i>
              </span>
            </a>
            {{ end }}

            {{ if .Site.Params.twitter }}
            <a href="{{ .Site.Params.twitter }}">
              <span class="fa-stack fa-lg text-blue-500 hover:text-blue-700">
                <i class="fa fa-circle-thin fa-stack-2x"></i>
                <i class="fa fa-twitter fa-stack-1x"></i>
              </span>
            </a>
            {{ end }}

            {{ if .Site.Params.linkedin }}
            <a href="{{ .Site.Params.linkedin }}">
              <span class="fa-stack fa-lg text-blue-500 hover:text-blue-700">
                <i class="fa fa-circle-thin fa-stack-2x"></i>
                <i class="fa fa-linkedin fa-stack-1x"></i>
              </span>
            </a>
            {{ end }}

            {{ if .Site.Params.instagram }}
            <a href="{{ .Site.Params.instagram }}">
              <span class="fa-stack fa-lg text-blue-500 hover:text-blue-700">
                <i class="fa fa-circle-thin fa-stack-2x"></i>
                <i class="fa fa-instagram fa-stack-1x"></i>
              </span>
            </a>
            {{ end }}

            {{ if .Site.Params.facebook }}
            <a href="{{ .Site.Params.facebook }}">
              <span class="fa-stack fa-lg text-blue-500 hover:text-blue-700">
                <i class="fa fa-circle-thin fa-stack-2x"></i>
                <i class="fa fa-facebook fa-stack-1x"></i>
              </span>
            </a>
            {{ end }}

            {{ range .Site.Params.customSocialLinks }}
            {{ if .fontAwesomeIconName }}
            <a href="{{ .url }}">
              <span class="fa-stack fa-lg text-blue-500 hover:text-blue-700">
                <i class="fa fa-circle-thin fa-stack-2x"></i>
                <i class="fa {{ .fontAwesomeIconName }} fa-stack-1x"></i>
              </span>
            </a>
            {{ else }}
            <a href="{{ .url }}">
              <span class="fa-stack fa-lg text-blue-500 hover:text-blue-700">
                <i class="fa fa-circle-thin fa-stack-2x"></i>
                <img class="fab fa-lg center" src="{{ .imageURL }}" alt="{{ .name }}" width="40%" />
              </span>
            </a>
            {{ end }}
            {{ end }}
          </div>
        </div>
  </div>
</section>