<section id="contact">
  <div class="container mx-auto py-5 text-center ">
    <div class="text-2xl p-5">Get In Touch</div>
      <div class="max-w-md mx-auto py-3 justify-center ">
        <div class="text-center">{{ .Site.Params.contact_content | emojify | markdownify }}</div>
        {{ if .Site.Params.email }}
        <div class="text-center pt-3">
          <a href="mailto:{{ .Site.Params.email }}?subject=Say hi!" class="contact-btn btn text-muted">
            {{ .Site.Params.getintouch | default "Get in Touch" }}
          </a>
        </div>
        {{ end }}
      </div>
  </div>
</section>