<section id="experience" class="pb-3">
  <div class="container-fluid">
    <div class="text-dark text-center text-2xl p-5">Experience</div>
    <div class="history p-5">
        {{ range $index, $element := sort .Site.Data.experience "startdate"}}
            <div class="history-item" id="{{ .company }}">
              <span class="dot-double"></span>
              <div class="h4 text-muted">
                <span class="text-primary">{{ .company }}</span> - {{ .role }}
              </div>
              <div>
                <small>{{ .startdate }}</small>
                -
                <small>{{ .enddate }}</small>
              </div>
              <ul class="py-2 ex">
                {{ range .featuredpoints }}
                <li class="ex-item"><span>{{ .point }}</span></li>
                {{ end }}
              </ul>
            </div>
        {{ end }}
    </div>
  </div>
</section>