{{ define "head"}}
<meta name="description" content="{{ .Params.description }}" />
<title>{{ .Title }}</title>
{{ end }}


{{ define "main" }}
<section>
  <div x-bind:class="isDark ? 'prose prose-invert max-w-screen-lg mx-auto' : 'prose max-w-screen-lg mx-auto'">
    <div class="row blog-page-color p-5">
      <div class="col-md-9 py-4 px-0">
        <h1 class="pb-2 text-center text-primary">{{ .Title }}</h1>
        <article class="text-primary">
          {{.Content}}
        </article>
      </div>
      {{ template "_internal/disqus.html" . }}
    </div>
  </div>
</section>

{{ end }}