{{ define "head"}}
<meta name="description" content="{{ .Params.description }}" />
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.12.0/dist/katex.min.css">
<script defer src="https://cdn.jsdelivr.net/npm/katex@0.12.0/dist/katex.min.js"></script>

<script defer src="https://cdn.jsdelivr.net/npm/katex@0.12.0/dist/contrib/auto-render.min.js" onload="renderMathInElement(document.body);"></script>
<title>{{ .Title }}</title>
<script>
  document.addEventListener("DOMContentLoaded", function() {
      renderMathInElement(document.body, {
          delimiters: [
              {left: "$$", right: "$$", display: true},
              {left: "$", right: "$", display: false}
          ]
      });
  });
</script>
{{ end }}


{{ define "main" }}
<section>
  <div x-bind:class="isDark ? 'prose prose-invert max-w-screen-lg mx-auto' : 'prose max-w-screen-lg mx-auto'">
    <div class="row blog-page-color p-5">
      <div class="col-md-9 py-4 px-0">
        {{ if eq .File.Ext "html"}}
        {{ else }}
          <h1 class="pb-2 text-center text-primary">{{ .Title }}</h1>
        {{ end }}
        <article class="text-primary">
          {{.Content}}
        </article>
      </div>
      {{ template "_internal/disqus.html" . }}
    </div>
  </div>
</section>

{{ end }}